data/*
published_gems/synechococcus/Synechococcus_GEM_iJB792_2019/*
published_gems/prochlorococcus/Prochlorococcus_Model-1.0.1/*
published_gems/trichodesmium/s12918-016-0383-z.pdf
/cgem/communities/*
dev/*